# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next
.env*

/android*
rsync.txt
deploy-frontend.sh
deploy.sh
CACHE_SYSTEM_README.md
ENDPOINTS_SUMMARY.md
OAUTH2_FIX_SUMMARY.md
update-nginx-mime-types.sh
.gitignore
OAUTH2_LOGIN_FLOW.md
OAUTH2_CROSS_DOMAIN_SOLUTION.md
OAUTH2_PERMISSION_FIX.md
nginx.conf
nginx.conf
nginx.conf
BACKEND_TABLE_NAME_FIX.md
.gitignore
LOGIN_PRODUCTION_FIX.md
.gitignore
FOOD_JSON_UPDATE.md
LOGOUT_FIX_SUMMARY.md
AiFoodAPP-Frontend.code-workspace
.vscode/extensions.json
FLOATING_GLASS_HEADER_IMPLEMENTATION.md
CLICKSPARK_IMPLEMENTATION.md
CLICKSPARK_FINAL_UPDATE.md
.tsbuild*
tsconfig.tsbuildinfo
